<!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->

<div class="container">
	<center><h2 class="text-danger">Jobs List</h2></center>
	<hr/>
	<div class="text-success"> Company Name:<%= @company.name %></div><br/>
	<h3>Jobs in <%= @company.name %>:</h3><br/>
	
	<% @company.jobs.each do |job| %>
		<div class="text-danger">S.No :<%= job.id %></div>
		<div class="text-success">Title:<%= link_to job.title,company_job_path(@company.id,job) %></div>
		<div class="text-success">Skills:<%= job.skill_set %></div>
		<div class="text-success">Experience:<%= job.experience %></div>
		<div><%= link_to "Edit",edit_company_job_path(job.company,job),class:"btn btn-info btn-sm" %> |
		<%= link_to "Delete",[job.company,job],method: :delete,data:{:confirm =>"Are you sure to detele?"},class:"btn btn-sm btn-info" %>
		<hr/>
		
	<% end %>

		<%= link_to "Job Form",new_company_job_path(@company.id),class:"btn btn-sm btn-info" %>
		<%= link_to "All Companies",companies_path ,class:"btn btn-sm btn-info"%>

</div>